<html !DOCTYPE>

<head>
    <title>
        My Gallary
    </title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">

    <!-- jQuery library -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>

    <!-- Latest compiled JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

</head>

<body>
    <div class="panel panel-primary">
        <div class="panel-heading">
            <%include ./partial/header.ejs %>
        </div>
        <div class="panel-body container">
            <div class="row">
                <div class="col-md-1">

                </div>
                <div class="col-md-4">
                    <div class="row">
                        <div class="col-md-3">

                        </div>
                        <div class="col-md-6">
                            Click To See Goa Album
                        </div>
                        <div class="col-md-3">

                        </div>
                    </div>
                    <div class="row">&nbsp;</div>
                    <div class="row">
                        <a href="/location?loc=goa">
                            <img width="450px" height="400px" src="https://d1j3wd17d78ehn.cloudfront.net/system/images/000/054/516/32a80b3cb32177b493ba654956ca73d1/original/Goa.jpg?1484974071">
                        </a>
                    </div>
                </div>
                <div class="col-md-2">

                </div>
                <div class="col-md-4">
                    <div class="row">
                        <div class="col-md-2">

                        </div>
                        <div class="col-md-8">
                            Click To See LalBagh Album
                        </div>
                        <div class="col-md-2">

                        </div>
                    </div>
                    <div class="row">&nbsp;</div>

                    <div class="row">
                        <a href="/location?loc=garden">

                            <img width="450px" height="400px" src="https://fourplacesaroundbangalore.files.wordpress.com/2014/02/nandihills2scape.jpg">
                        </a>
                    </div>
                </div>
                <div class="col-md-1">

                </div>
            </div>
        </div>
    </div>
</body>

</html>